@charset 'utf-8';

@import '~normalize.css';
@import '~highlight.js/styles/dracula.css';

* {
  box-sizing: border-box;
}

html,
body,
body > div {
  height: 100%;
  width: 100%;
}

html,
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.editor {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.editor-header {
  display: flex;
  background-color: #222;
  height: 40px;
  justify-content: flex-end;
  width: 100%;
}

.editor-header .save-message {
  color: #fff;
  padding: 12px;
}

.button-remove {
  border: 0;
  background-color: red;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  padding: 0 20px;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
}

.button-remove:hover {
  background-color: darkred;
}

textarea,
.view {
  height: calc(100% - 40px);
  min-width: 50%;
  max-width: 50%;
}

textarea {
  font-size: 18px;
  padding: 10px;
  resize: none;
}

textarea:focus {
  outline: 0 none;
}

.view {
  background: #333;
  color: #fff;
  padding: 10px;
  overflow: auto;
}
